<div class="col animated fadeIn fast">
    <!-- tabla -->
    <table class="table animated fadeIn fast">
        <thead class="thead-dark">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Number</th>
                <th scope="col">Quanty</th>
                <th scope="col">First Position</th>
                <th scope="col">Last Position</th>
            </tr>
        </thead>
        <h3></h3>
        <tbody *ngIf="tasks">

            <tr *ngFor="let task of tasks.data; let i = index" [ngStyle]="calculateStyles(task)">
                <th scope="row"> {{ i + 1 }}</th>
                <td>{{ task }}</td>
                <td *ngIf="task === task"> {{ counttask(task) }}</td>
                <td>{{ getPosition(task, 'first') }}</td>
                <td>{{ getPosition(task, 'last') }}</td>
            </tr>

        </tbody>
    </table>
    <!-- botones  -->
    <button (click)='getDatos()' class="btn btn-outline-primary btn-block">Volver a Llenar Tabla</button>
    <a [routerLink]="[ '/home']" class="btn btn-outline-danger btn-block"> Volver </a>
    <button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#exampleModal">
        Lista Ordenada
      </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Array Ordenado de Menor a Mayor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="tasks">
                        <ul>
                            <li *ngFor="let orden of ordenArray"> {{ orden }}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

</div>
